*{
    margin: 0%;
    padding: 0%;
}
*::-webkit-scrollbar {
    display: none;
}
.main{
    height: 90vh;
    background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-image: url('https://media.istockphoto.com/id/1323545403/vector/abstract-blue-light-defocused-gradient-vector-background.jpg?s=612x612&w=0&k=20&c=O9Wfys2IJm654iIhLuwixw89IZHlVHn5U2zftwLYST8='); */
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    /* overflow: scroll; */
}
.main::-webkit-scrollbar {
    display: none;
}
.container{
    display: flex;
    height: 100%;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    height: 75%;
    width: 40%;
    /* border: 2px solid black; */
    background-image: url('https://img.freepik.com/free-vector/colorful-illustration-programmer-working_23-2148281409.jpg?size=626&ext=jpg&ga=GA1.1.1276807806.1686132950&semt=ais');
    background-size: 100% 100%;
    
    box-shadow: rgba(54, 157, 241, 0.56) 0px 22px 70px 4px;

}
.text{
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.type {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 80%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

